# Dependencies
node_modules/

# Cairo artifacts
target/

# Hardhat build artifacts
deployed.json
artifacts/
cache/

# Coverage
coverage/
coverage.json

# Environment files
.env
.env.local

# Editor
.vscode/
.idea/
